.weather {
    width: 250px;
    margin: 50px auto;
    border: 1px solid orange;
}

.date {
    color: orange;
}

.temperature {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
}

.temperature img {
    position: relative;
    top: 20px;
}